body
{
	background-color: #000000;
	/* body背景颜色 */
}

.LCJX_GongGao
{
	color: white;
	/* 字体颜色:白色 */
	font-size: 18px;
	/* 字体大小:18像素 */
	border: 3px solid rgb(255, 235, 205);
	/* 边框:边框宽度2像素|边框样式:实线边框|边框颜色:类肤色*/
	border-radius: 24px;
	/* 边框圆角:20像素 */
	width:550px;
	/* 宽度:550px */
	background: #004400;
	/* 背景:深绿色 */
	height: auto;
	/* 高度:自动 */
	text-align: center;
	/* 字体对齐方式:中心 */
	margin: 12px auto 12px auto;
	/* 页边距:上 右 下 左 */
}

.LCJX_GongGaoNeiRong
{
	font-size: 18px;
	margin:0px 10px 10px 10px;
	/* 页边距: 上 右 下 左 */	
	
}

img 
/* 图像 */
{
    border-radius: 24px;
	/* 边框圆角:20像素 */
}

.LCJX_GuangRongBang
{
	height:auto;
	width:550px;
	background-color:#1fc8db;
	/* 背景颜色: */
	background-image:linear-gradient(141deg,#9fb8ad 0%,#1fc8db 54%,#2cb5e8 75%);
	opacity:0.95;
	text-align:center;
	/* 字体对齐方式:中心 */
	margin:auto;
	/* 页边距:自动 */
	color:#f3f3f3;
	/* 字体颜色: */
	font-weight:550;
}

.LCJX_GuangRongBang_NeiRong
{
	font-size: 1.6em;
	text-shadow: 5px 5px 5px #ebeb00;
}

.LCJX_ZhaoShengJianZhang
{
	background: #ff5500;
}

.LCJX_XueYuanFengCai
{
	background: #008fd6;
}

.LCJX_LiZhiHaoYan
{
	background: #c885c8;
}

.LCJX_XueZiFengCai
{
	background: #696969;
}

.LCJX_ZuiMeiJiaoShi
{
	background-color: #61815e;
}

.LCJX_JiuYeXinXi
{
	background: #550000;
}

.LCJX_RenCaiZhaoPin
{
	background: #e59900;
	
}

.LCJX_GuanYuWoMen
{
	background: #aa007f;
}

.by_right
{
	text-align: right;
	/* 字体对齐方式:右侧 */
	margin-right:3%;
	/* 右边距:3% */
}